In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle

In [71]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [72]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [73]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [74]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [75]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [76]:
df.shape

(10000, 11)

In [77]:
df.Gender.value_counts(),df.Geography.value_counts()

(Gender
 Male      5457
 Female    4543
 Name: count, dtype: int64,
 Geography
 France     5014
 Germany    2509
 Spain      2477
 Name: count, dtype: int64)

In [78]:
from sklearn.preprocessing import LabelEncoder
label_encoder_gender = LabelEncoder()
df.Gender=label_encoder_gender.fit_transform(df.Gender)

In [79]:
df.tail()

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[5 rows x 11 columns]

In [80]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [81]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [82]:
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [83]:
df.drop(columns=['Geography'], inplace=True)

In [84]:
df.head()

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Exited
0          619       0   42  ...               1        101348.88       1
1          608       0   41  ...               1        112542.58       0
2          502       0   42  ...               0        113931.57       1
3          699       0   39  ...               0         93826.63       0
4          850       0   43  ...               1         79084.10       0

[5 rows x 10 columns]

In [85]:
df = pd.concat([df, geo_encoder_df], axis=1)

In [86]:
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [87]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [88]:
## Divide the dataset into indepent and dependent features
X=df.drop('Exited',axis=1)
y=df['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [89]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Implementation

In [90]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [91]:
(X_train.shape[1],)

(12,)

In [92]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),# HL-1 Connected with input layer
    Dense(32,activation='relu'), # HL-2
    Dense(1,activation='sigmoid') # Output layer
])

In [93]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 64)                832

 dense_8 (Dense)             (None, 32)                2080

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [94]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [95]:
##compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
##Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [97]:
#Set up early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [98]:
# Train the model
history=model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4486 - accuracy: 0.8065 - val_loss: 0.3954 - val_accuracy: 0.8275
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8429 - val_loss: 0.3558 - val_accuracy: 0.8550
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8551 - val_loss: 0.3449 - val_accuracy: 0.8600
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8589 - val_loss: 0.3438 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8604 - val_loss: 0.3532 - val_accuracy: 0.8510
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8614 - val_loss: 0.3402 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8634 - val_loss: 0.3381 - val_accuracy: 0.8625
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8659 - val_loss: 0.3390 - val_accuracy: 0.8645
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8612 - val_loss: 0.3372 - val_accuracy: 0.8625
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8655 - val_loss: 0.3391 - val_accuracy: 0.8645
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3201 - accuracy: 0.8659 - val_loss: 0.3370 - val_accuracy: 0.8600
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.8664 - val_loss: 0.3376 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3177 - accuracy: 0.8674 - val_loss: 0.3382 - val_accuracy: 0.8645
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3154 - accuracy: 0.8677 - val_loss: 0.3386 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3147 - accuracy: 0.8665 - val_loss: 0.3403 - val_accuracy: 0.8620
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3139 - accuracy: 0.8660 - val_loss: 0.3360 - val_accuracy: 0.8640
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3120 - accuracy: 0.8695 - val_loss: 0.3372 - val_accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3107 - accuracy: 0.8702 - val_loss: 0.3365 - val_accuracy: 0.8640
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8701 - val_loss: 0.3414 - val_accuracy: 0.8580
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3080 - accuracy: 0.8694 - val_loss: 0.3399 - val_accuracy: 0.8640
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3078 - accuracy: 0.8706 - val_loss: 0.3371 - val_accuracy: 0.8685
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3060 - accuracy: 0.8701 - val_loss: 0.3351 - val_accuracy: 0.8645
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3052 - accuracy: 0.8716 - val_loss: 0.3382 - val_accuracy: 0.8665
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3041 - accuracy: 0.8699 - val_loss: 0.3356 - val_accuracy: 0.8640
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3026 - accuracy: 0.8714 - val_loss: 0.3376 - val_accuracy: 0.8650
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3018 - accuracy: 0.8720 - val_loss: 0.3418 - val_accuracy: 0.8625
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3014 - accuracy: 0.8721 - val_loss: 0.3411 - val_accuracy: 0.8610
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2994 - accuracy: 0.8725 - val_loss: 0.3418 - val_accuracy: 0.8600
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2998 - accuracy: 0.8740 - val_loss: 0.3423 - val_accuracy: 0.8630
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2977 - accuracy: 0.8740 - val_loss: 0.3393 - val_accuracy: 0.8685
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2965 - accuracy: 0.8740 - val_loss: 0.3563 - val_accuracy: 0.8550
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2958 - accuracy: 0.8764 - val_loss: 0.3390 - val_accuracy: 0.8660

In [99]:
model.save('model.h5')

c:\Users\Sushrutha\OneDrive\Desktop\Churn\env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [100]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [102]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 19124), started 0:31:16 ago. (Use '!kill 19124' to kill it.)